<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters ">
      <div class="fr-col-12">
        <h1 class="fr-my-4w">Documents</h1>
        <div class="fr-mb-4w">
        <% Document.all.each do |document| %>
            <div class="fr-mb-4w">
            <a class="fr-link fr-link--download" download href="<%= document.file %>" target="_blank">    Télécharger <%= document.name %> </a>
            <div> <%= link_to "Supprimer", document_path(document), data: { 'turbo_method': :delete, confirm: "Êtes-vous sûr de vouloir supprimer ce document ?" } %></div>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</main>