<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters ">
      <div class="fr-col-12">
        <h1 class="fr-my-4w">Ajouter un document</h1>
        <div class="fr-mb-4w">
            <%= form_with(model: @document, url: documents_path, multipart: true) do |form| %>

                <div class="fr-input-group">
                  <label class="fr-label" for="file">Importer un fichier</label>
                  <%= form.file_field :file, id: 'file' %>
                </div>

                <%= form.submit "Importer", class: "fr-btn" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</main>