@charset "UTF-8";
@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:300;src:font-url('Marianne-Light.woff2') format("woff2"),font-url('Marianne-Light.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:300;src:font-url('Marianne-Light_Italic.woff2') format("woff2"),font-url('Marianne-Light_Italic.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:400;src:font-url('Marianne-Regular.woff2') format("woff2"),font-url('Marianne-Regular.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:400;src:font-url('Marianne-Regular_Italic.woff2') format("woff2"),font-url('Marianne-Regular_Italic.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:500;src:font-url('Marianne-Medium.woff2') format("woff2"),font-url('Marianne-Medium.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:500;src:font-url('Marianne-Medium_Italic.woff2') format("woff2"),font-url('Marianne-Medium_Italic.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:700;src:font-url('Marianne-Bold.woff2') format("woff2"),font-url('Marianne-Bold.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:700;src:font-url('Marianne-Bold_Italic.woff2') format("woff2"),font-url('Marianne-Bold_Italic.woff') format("woff")}
 
//modifier fonts dans dsfr + supprimer les style dans svg dark light system
html{
  height: 100%;
}

body div{
  font-family: Marianne, sans-serif;
}
a{
  &:hover{
  cursor:pointer;
  }
}
.fr-header__brand:hover, .fr-footer__brand:hover{
  background-color:transparent !important;
}
.pr{
  position: relative;
}
.texte_img{
  color: #FFF !important;
  position:absolute;
  top: 25%;
  margin-left:5%;
  margin-right:5%;
  padding-left:2%;
  border-left: 0.2em solid #FFF;
}

.fr-card__img img {
  object-fit: contain !important
}
.cbleu{
  color: var(--text-action-high-blue-france) !important;
}
.tc{
  text-align:center;
}
.fr-follow2 {
  padding: 0;

  --title-spacing: 0 0 0.5rem;
  --text-spacing: 0 0 1rem;
  background-color: var(--background-alt-blue-france);

  --idle: transparent;
  --hover: var(--background-alt-blue-france-hover);
  --active: var(--background-alt-blue-france-active);
  border-bottom: 1px solid var(--border-default-blue-france);
}

.fr-follow2 .fr-grid-row2 > div{
  padding: 0px 4rem;
}