<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Ministère
                                <br>de l'économie,<br>des finances<br>et de la souveraineté<br> industrielle et numérique
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="fr-menu-modal" aria-haspopup="menu" id="button-477" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - BudgetLab">
                          <p class="fr-header__service-title">BudgetLab <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">BÊTA</span></p>
                        </a>
                        <p class="fr-header__service-tagline">Laboratoire d'innovation de la gestion financière publique</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="fr-header__menu fr-modal" id="fr-menu-modal" aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="fr-menu-modal">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="fr-navigation" role="navigation" aria-label="Menu principal"></nav>
        </div>
    </div>
</header>